// main: ../style.less 


.reviews {
    margin: 9.3rem 0 9.6rem;
}

/* Header */
.reviews__header {
    margin-bottom: 5rem;
}


/* btn */
.slick-arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1000;
    
    font-size: 0;
    color: transparent;
    
    height: 50px;
    width: 50px;
    
    border: none;
    border-radius: 50%;
    box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.08);
    
    outline: none;
    cursor: pointer;
    
    transition: background-color .1s linear,
                box-shadow .1s linear;    

    &:active {
        background-color: @orange;
        box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.28);
    }
    
    &:before,
    &:after {
        content:"";
        display: block;
        position: absolute;
        top: 43%;
        left: 40%;
        width: 10px;
        height: 10px;
    }
}


.slick-prev {
    left: -1%;
    &:after {
        border-left: 4px solid #000;
        border-bottom: 4px solid #000;
        transform: rotate(40deg);
    }
}

.slick-next {
    right: -1%;
    &:before {
        border-right: 4px solid #000;
        border-bottom: 4px solid #000;
        transform: rotate(-40deg);
    }
}

//--------------
/*  Slick Line  */
.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    
    display: flex;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    
    button {
        margin: 0;
        padding: 0;
        font-size: 0;
        color: transparent;

        outline: none;
        border: none;
        border-radius: 2px;
        background-color: #e0e0e0;
        height: 6px;
        width: 18px;
        margin: 0 4px;
    }
    
    .slick-active button {
        background-color: @orange;
    }
}




/* content */

.slick__item {
    max-width: 50%;
    padding: 0 1rem;
    outline: none;
}

.reviews__item {
    text-align: center;
    padding: 90px 40px 40px;
    box-shadow: 0px 0px 0px 1px rgba(20,20,21,0.09);
    
    transition: box-shadow .2s linear;
    position: relative;
    
    &:hover {
         box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
    }
    
    &:hover .reviews__photo {
         box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
    }
}


/* img */
.reviews__photo {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    
    border-radius: 50%;
    border: 1px solid #D0D0D0;
    height: 100px;
    width: 100px;
    
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        max-width: 100%;
        height: auto;
    }
}


.reviews__content {
    font-family: "Source Sans Pro";
    font-size: 1.1rem;
}

.reviews__text {
    margin-bottom: 20px;
    
    line-height: 1.588;
    color: rgba(0,0,0, .54);
}

.reviews__reting {
    margin-bottom: 20px;
    
    display: flex;
    justify-content: center;
    
    img {
        padding: 0 1px;
    }
}

.reviews__author {
    font-style: italic;
    color: rgba(0,0,0, .66);
    
    span {
        font-style: normal;
        font-weight: 600;
    }
}

/* slick js */
.slick-slider .slick-list {
    padding: 4rem 0 1rem;
}



/* media */
@media @tablet {
    .reviews {
        margin: 7.3rem 0 7.6rem;
    }
    
    /* btn */
    .slick-arrow {
        display: none;
    }
    
    .reviews__slider .slick-list {
        height: 340px; 
    }
}


@media @mobile-sm {
    .slick__item {
        padding-bottom: 6rem;
    }
    
    .reviews__item {
        padding: 70px 20px 30px;
    }
    
    .reviews__photo {
        top: -17%;
    }
    
    .slick-dots {
        top: 100%;
    }
}









