// main: ../style.less



.service {
    margin: 9.6rem 0 11.3rem;
}





/* Header */
.service__header {
    margin-bottom: 9.3rem;
}



/* Service Content */ 
.service__content {
    display: flex;
    max-width: 100%;
}

.item__content {
    width: 80%;
    display: flex;
}





/* img */
.item__img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__img {
    max-width: 100%;
}





/* Icon */
.item__icon {
    width: 20%;
}

.service__icon {
    margin-bottom: 7px;
     
    width: 104px;
    height: 92px;
    
    border-radius: 2px;
    border: 1px solid #f7f7f7;
    background-color: rgb(251, 251, 251);
    position: relative;
    
    transition: box-shadow linear .2s;
    
    &:hover {
        box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
    }
}

.icon__img {
    max-width: 100%;
    
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate3d(-50%, -50%, 0);
}





/* Content */
.item__description {
    width: 55%;
}

.description__title {
    margin-bottom: 19px;
    
    font-size: 2rem;
    color: rgba(0,0,0, .75);
    
    &:after {
        content: "";
        display: block;
        margin-top: 18px;        
        width: 58px;
        height: 3px;
        background-color: @orange;
    }
}

.description__text {
    margin-bottom: 2.8rem;
    line-height: 1.563;
}

.item__description .btn--white {
    max-width: 240px;
    border: 1px solid #ededed;
}




/*  Media  */
@media @tablet {
    .service {
        margin: 7.6rem 0 9.3rem;
    }
     
    .service__header {
        margin-bottom: 7.3rem;
    }
    
    .service__content {
        display: block;
    }
    
    
    
    /* icon */      
    .item__icon {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .service__icon {
        margin: 0 1rem 5rem;
    }
    
    
    
    /* content */
    .item__content {
        width: 100%;
    }
    
    .item__description {
        padding-left: 2rem;
    }
}



@media @mobile {
    .item__content {
        flex-direction: column;
        align-items: center;
    }
    
    .item__img {
        width: 100%;
    }
    
    .service__img {
        display: none;
    }
    
    .service__icon {
        margin: 0 .5rem 3rem;
    }
    
    .item__description {
        padding: 0;
        width: 80%;
    }
    
    .btn--server {
        margin: 0 auto;
    }
}

@media @mobile-sm {
        
    .service__icon {
        border-radius: 20px;
        margin-bottom: 2rem;
    }
    
    .item__description {
        width: 90%;
    }
    
        
    .description__text {
        margin: 0;
    }
}
    










