// main: ../style.less 

.partner {
    background-color: #fbfbfb;
}

.partner__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 70px 0;
}